body {
	background-color: #FCFBFA;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.nav {
	margin: 0;
	border-bottom: 1px solid black;
	padding: 0.5em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 4em;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.content {
	margin: 2em;
}

.section3, .section4 {
	margin-left: 3em;
}

a[href] {
	color: #06C;
	text-decoration: none;
}

a[href]:hover {
	color: #08F;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #008;
}

h1 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 1.5em;
	margin-top: 1.5em;
	border-bottom: 1px solid #888;
}

h3 {
	font-size: 1.15em;
}

h4, h5, h6 {
	font-size: 1em;
}

code {
	position: relative;
	top: -1px;
	border: 1px solid #AAA;
	background-color: #EEE;
	color: #222;
	padding-top: 0.2em;
	padding-bottom: 0em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	margin: 0.2em;
	margin-right: 0.1em;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	font-size: 0.85em;
	font-family: Consolas, monospace;
}

pre[class*="language-"] {
	background: inherit;
}

pre code {
	border-color: #888;
	display: block;
	padding: 0.3em;
	margin: 0em;
	border-radius: 5px;
	width: 100%;
	overflow: auto;
}

a[href] code {
	color: #048;
	background-color: #ECEEF1;
	border-color: #68A;
}